* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  scroll-behavior: smooth;
}
nav .logo {
  color: #fff;
  margin-right: 10rem;
  font-size: 2rem;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #1b10bb;
  width: 100%;
  padding: 2rem;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: 30%;
  margin-right: 10rem;
}

.nav a {
  cursor: pointer;
}

ul a {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

a input {
  width: 5rem;
  /* height: 2rem; */
  padding: 4px;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: #fff;
}

/* icons */
.fa-solid {
  color: #fff;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  min-height: 3px;
  margin: 5px;
  background-color: #fff;
  transition: all 0.3 ease;
}

body {
  background-image: url(./img/photo-1628394029748-3bbbc88a4334.avif);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  background-attachment: fixed;
  scroll-behavior: auto;
}

.container {
  background-image: url(./img/photo-1593768128575-e41545e803d8.avif);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 29rem;
  transition: all;
  animation: fade 7s ease-in-out infinite;
  /* margin: 1rem; */
}
.container section{
  display: flex;
  justify-content: center;
  padding: 2rem;
  padding-top: 1rem;
}

section button{
  width: 10rem;
  height: 2.4rem;
  outline: none;
  border: 0;
  font-size: 16px;
  font-family: 'arial', serif;
  background-color: rgb(250, 249, 249);
  color: #c91212;
  text-shadow: 2px 2px 4px rgb(223, 11, 29);
  border-radius: 2rem;
}

.row h1{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 8rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0.9);
  font-family: "Open Sans", sans-serif;
  margin-left: 2rem;
}

@keyframes fade {
  from {
    background-image: url(./img/photo-1600891965050-6da6bad77c3f.avif);
    background-attachment: fixed;
  }
}

#hello{
  transition: all;
  animation: round 1s ease-in-out infinite;
}
@keyframes round {
  from{
    color: rgb(48, 237, 48);
  }
  to{
    color: red;
  }
}
.box{
  margin: 0.30rem;
}

span h2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

/* Boxx and rows */
.rows{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  /* margin: 2rem; */
}

.rows p{
  color: #fff;
  font-size: 16px;
  margin-left: 1rem;
  margin-left: 1rem;font-family: "Open Sans", sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0.9);

}

.col,.col1,.col2,.col3{
  background-image: url(./img/photo-1617347454431-f49d7ff5c3b1.avif);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 1rem;
}

.rows .col{
  border: 1px solid #ccc;
  height: auto;
  opacity: 20;
  background-blend-mode: darken;
}

.rows .col1{
  border: 1px solid #ccc;
  height: auto;
  opacity: 20;
  background-blend-mode: darken;
}
.rows .col2{
  border: 1px solid #ccc;
  height: auto;
  opacity: 20;
  background-blend-mode: darken;
}
.rows .col3{
  border: 1px solid #ccc;
  height: auto;
  opacity: 20;
  background-blend-mode: color-dodge;
}

.rows .fa-solid{
  display: flex;
  justify-content: center;
  margin-top: 4px;
  font-size: 2rem;
}
/* @MEDIA QUERY DISPLAY */
@media screen and (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(9, 16, 148);
    background-position: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .text {
    text-align: center;
    align-content: center;
    text-transform: normal;
    color: #fff;
  }

  .nav-links {
    box-sizing: content-box;
    margin-right: 4rem;
    width: 100%;
    position: absolute;
    height: 26rem;
    top: 10.24vh;
    margin: 1rem;
    background-color: rgb(9, 16, 148);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-150%);
    transition: transform 1s ease-in;
    /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    padding-bottom: 0.4rem;
  }

  .nav-links li {
    opacity: 1;
  }

  .burger {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-links form input {
    width: 6rem;
    height: 3rem;
  }

  .row h1{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 2rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0.9);
    font-family: "Open Sans", sans-serif;
    margin-left: 2rem;
  }

  .rows{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 2rem;
  }


}
/* Meida ends */



        
      h3 {
          color: #308d46;
      }

      .map-page{
        width: 100%;
        background-color: #fff;
        margin-top: 4rem;
        border-bottom: 3rem;
      }
.map-page section{
  display: flex;
  justify-content: center;
  padding: 1rem;
}
      .map-io img{
        width: 6%;
      }

      .map-page h3{
        margin-left: 1rem;font-family: "Open Sans", sans-serif;
      }
