* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
  }
  nav .logo {
    color: #fff;
    margin-right: 10rem;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(9, 16, 148);
    width: 100%;
    padding: 2rem;
  }
  .nav-links {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    width: 30%;
    margin-right: 10rem;
  }
  
  .nav-links li {
    list-style: none;
  }
  .nav-links a {
    text-decoration: none;
    color: #fff;
  }
  
  /* icons */
  .fa-solid {
    color: #fff;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .burger div {
    width: 25px;
    min-height: 3px;
    margin: 5px;
    background-color: #fff;
    transition: all 0.3 ease;
  }

body {
    background-image: url(./img/photo-1628394029748-3bbbc88a4334.avif);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}




/* @MEDIA QUERY DISPLAY */
@media screen and (max-width: 768px) {
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 8vh;
      background-color: rgb(9, 16, 148);
      width: 100%;
    }
    .text {
      text-align: center;
      align-content: center;
      text-transform: normal;
      color: #fff;
    }
  
    .nav-links {
      width: 100%;
      position: absolute;
      right: 0px;
      height: 23rem;
      top: 10.24vh;
      margin: 1rem;
      background-color: rgb(9, 16, 148);
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(-150%);
      transition: transform 1s ease-in;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }
  
    .nav-links li {
      opacity: 1;
    }
   
    .burger {
      display: block;
    }
  
    .nav-active {
      transform: translateX(0%);
    }
  
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line2 {
    opacity: 0;
  }
  
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  
  
  .nav-links form input{
    width: 6rem;
    height: 3rem;
  }
  
  }
  /* Meida ends */